[Unit]
Description=AURP to AppleTalk router
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStart=/usr/bin/jrouter -config /etc/jrouter/jrouter.yaml
Restart=on-failure

[Install]
WantedBy=multi-user.target
